@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background: #212121;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: #27ae60;
  border-radius: 12px;
}

::selection {
  background: #27ae60;
}
